* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url('img/wp6942356-white-minimalist-wallpapers.png');
    color: #333;
    line-height: 1.6;
    text-align: center;
    background-size: cover;
    background-position: center;
    
}

#fotos {
    display: flex;
    height: 150px;
    border-radius: 10%;
    display: inline;
}

button {
    display: flex;
    background-color: transparent;
    width: 180px;
    height: 180px;
    cursor: pointer;
    border: none;
    padding-bottom: 19px;
    padding-top: 10px;
}

.titulo {
    display: flex;
}
p {
    padding-top:70px ;

}